@import '../abstracts/_variables.scss';

.fontAwesomeIcon {
  font-size: 4.5rem;
  color: tomato;
  padding-right: 2rem;
}

.fontAwesomeIconSmall {
  color: $slate;
}

.fontAwesomeIconNull {
  font-size: 1rem;
  color: $grey;
}
