.body-header {
  height: 400px;
  top: 120px;
  position: relative;
  color: #e8e8e8;
  background-color: #bbbfca;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");

  .center {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
