@import '../abstracts/_variables.scss';

.body-header {
  height: 40rem;
  top: 12rem;
  position: relative;
  color: $grey;
  background-color: $slate;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");

  .center {
    position: relative;
    display: flex;
    justify-content: center;
  }
}


// @media only screen and (min-width: 768px) {
//   .body-header {
//     position: fixed;
//     width: 33%;
//   }
// }

