@import '../abstracts/_variables.scss';
 
 body {
  font-family: $font-stack-main; 

}

main {
  position: relative;
  top: 12rem;
  padding-top: 2.8rem;
  background-color: $grey;
  margin: 0 auto;
  width: 90%;
}

// @media only screen and (min-width: 768px) {

//   .all-but-nav {
//     display: flex;
//   }

//   main {
//     position: static;
//   }
// }
