@import '../abstracts/_variables.scss';

nav {
  position: fixed;
  height: 120px;
  width: 100vw;
  z-index: 1;
  background-color: $navy;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-title {
    font-family: $font-stack-accent;
    color: $white;
    font-size: 4.5rem;
  }

  .new-tweet-btn {
    font-family: $font-stack-main;
    border-radius: 1rem;
    font-size: 2rem;
    color: $white;
    font-weight: bold;
    background-color: $navy;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0rem 0rem 2rem 0.3rem rgba(0,0,0,0.75);
    }
  }
}

// TODO: change button

// @media only screen and (max-width: 500px) {
//   nav {
//     background-color: red;
//   }
// }
