.new-tweet {

  label {
    font-weight: bold;
  }

  textarea {
    resize: none;
    font-size: 0.75em;
    width: 100%;
    background-color: #ede193; /* change this to body bkgrnd*/
    border-bottom-color: black;
    border-bottom-width: 4px;
    overflow: auto;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
  }


  button {
    background-color: #4056A1;
    color: #FFFFFF;
    padding: 7px 10px;
  }

  .prompt-footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Bungee', sans-serif;
    padding-bottom: 20px;
  }
  
  .text-red {
    color: red;
  }
}
