@import '../abstracts/_variables.scss';

.new-tweet {

  display: none;

  label {
    font-weight: bold;
  }

  textarea {
    resize: none;
    font-size: 0.75em;
    width: 100%;
    background-color: $grey;
    border-bottom-color: $navy;
    border-bottom-width: 0.4rem;
    overflow: auto;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  button {
    background-color: $navy;
    color: $white;
    padding: 0.7rem 1rem;
    outline: none;
    cursor: pointer;
  }

  .prompt-footer {
    display: flex;
    justify-content: space-between;
    color: $navy;
    font-family: $font-stack-accent;
    padding-bottom: 5rem;
  }
  
  .text-red {
    color: tomato;
  }
 
  .error-no-text {
    @extend %error-styling;
  }

  .error-over-140 {
    @extend %error-styling;
  }
}
