.new-tweet {

  label {
    font-weight: bold;
  }

  textarea {
    resize: none;
    font-size: 0.75em;
    width: 100%;
    background-color: #e8e8e8;
    border-bottom-color: #495464;
    border-bottom-width: 4px;
    overflow: auto;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
  }


  button {
    background-color: #495464;
    color: #f4f4f2;
    padding: 7px 10px;
  }

  .prompt-footer {
    display: flex;
    justify-content: space-between;
    color: #495464;
    font-family: "Bungee", sans-serif;
    padding-bottom: 20px;
  }
  
  .text-red {
    color: red;
  }
}
