// .fontAwesomeIcon {
//   font-size: 45px;
//   color: #bbbfca;
//   padding: 0 10px 0 20px;
// }

.fontAwesomeIconSmall {
  color: #bbbfca;
}

.fontAwesomeIconNull {
  font-size: 10px;
  color: #e8e8e8;
}
