.new-tweet .error-no-text, .new-tweet .error-over-140 {
  display: none;
  border: solid 0.4rem #FF6347;
  color: #FF6347;
  font-weight: bold;
  margin-bottom: 4rem; }
  .new-tweet .error-no-text span, .new-tweet .error-over-140 span {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.new-tweet {
  display: none; }
  .new-tweet label {
    font-weight: bold; }
  .new-tweet textarea {
    resize: none;
    font-size: 0.75em;
    width: 100%;
    background-color: #e8e8e8;
    border-bottom-color: #495464;
    border-bottom-width: 0.4rem;
    overflow: auto;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none; }
  .new-tweet button {
    background-color: #495464;
    color: #f4f4f2;
    padding: 0.7rem 1rem; }
  .new-tweet .prompt-footer {
    display: flex;
    justify-content: space-between;
    color: #495464;
    font-family: "Bungee", sans-serif;
    padding-bottom: 5rem; }
  .new-tweet .text-red {
    color: #FF6347; }
