$font-stack-main: "Source Sans Pro", sans-serif; 
$font-stack-accent: "Bungee", sans-serif;

$stone: #b4b4af;
$aqua: #bad5dc;
$off-white: #e3e8ee;
$light-blue: #d4dfe5;
$slate: #a5b4b9;
$yellow: #f4f1ec;


$navy: #495464;
$slate: #bbbfca;
$white: #f4f4f2;
$grey: #e8e8e8;
$dark-gray: #bbbbbe;
